@font-face{
    font-family: "Oswald";
    src: url("/fonts/Oswald/Oswald-Regular.ttf");
    font-weight: 500;
}
@font-face{
    font-family: "Oswald-light";
    src: url("/fonts/Oswald/Oswald-ExtraLight.ttf");
    font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=Kodchasan&family=Roboto&display=swap');

html {

}

h1 {
    color: blue;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

#bio-header {
    color:brown;    
}

#skillsHeader {
    color: coral;
}

.content {
    color: grey;
    font-size: 24px;
    font-family: 'Kodchasan', sans-serif;
    text-align: left;
    line-height: normal;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.img-div {
    background-color: lightblue;
}
.light {
    background-color: aliceblue;
}
img {
    width: 14.2%;
    box-shadow: 3px 3px 7px black;
    margin: 1%;
}

#img-1 {
    display: none;
}